
html {
    box-sizing: border-box;
   
}


*,
*::after,
*::before {
    box-sizing: inherit;
}


@media (max-width: 725px) {
    main{
        display: none;
        opacity: 1;
        transition: opacity 2s, display 2s;
    }
    body {
      
      font-size: 16px;
      font-family:  Montserrat;
     
      font-weight: 300;
      line-height: normal;
    }
    .first__page__logo{
       
        background-color: rgba(217, 217, 217, 0.30);
        display: flex;
        justify-content: center; 
        
        height: 100vh; 
        width: 100%;
        align-items: center;
        opacity: 1;
        transition: opacity 1s;
       
        
        
    }

   
    .logo__img,
    .logo__text {
      opacity: 0; /* Начальное значение - элементы невидимы */
    }
    .logo__text{
        font-family: Montserrat;
        font-size: 9px;
        line-height: normal;
        text-align: center;
        width: 142px;
        height: 78px;
        animation: fadeInText 2s ease forwards;
        animation-delay: 0.5s; /* Задержка в полсекунды после анимации изображения */
    }
    .logo__text>h1
    {
        font-size: 22px;
    }
    .hidden{
        opacity: 0;
    }
    .unhidden{
        opacity: 1;
        display: block;
    }
    @keyframes fadeInText {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

   
  
      
    
    .logo__text__2{
        font-weight: 600;
    }
    .logo__text__3
    {
    font-size: 26px;
    }




    .rotate {
        width: 100%;
        height: 100%;
        opacity: 0; /* Начните с непрозрачности 0 */
        transform: rotate(0deg); /* Начните с нулевого поворота */
        transition: opacity 1s, transform 1s; /* Длительность анимации 1 секунда */
    }
    
    /* Примените анимацию после загрузки страницы */
    @keyframes rotateAndFadeIn {
        0% {
            opacity: 0;
            transform: rotate(0deg);
        }
        100% {
            opacity: 1;
            transform: rotate(360deg);
        }
    }
    
    /* Запустите анимацию при загрузке страницы */
    .rotate {
        animation: rotateAndFadeIn 2s; /* 2 секунды для полного оборота */
    }

}